In [1]:
 for i in range(0,20):
     print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
for i in range(10,20):
    print(i,end=" ")

10 11 12 13 14 15 16 17 18 19

In [4]:
li1=[10,20,43,55,67,34,68]

print("Number of item in the List:", len(li1))

Number of item in the List: 7

In [6]:
s1=input()
li=list(s1)
for i in li:
    print(i)

Aritificial Intelleigent
A
r
i
t
i
f
i
c
i
a
l

I
n
t
e
l
l
e
i
g
e
n
t

In [7]:
Name =input("Your name" )
Age =input("age" )
work =input("work" )
print("Your Name:" ,Name)
print("Your Age:" ,Age)
print("Your Profession:" ,work)

Your nameanu
age23
work3erwerwere
Your Name: anu
Your Age: 23
Your Profession: 3erwerwere

In [8]:
tu=(1,'Welcome',2,'Hope')

print(tu)

(1, 'Welcome', 2, 'Hope')

In [9]:
li=(20,10,16,19,25,1,276,188)
for i in li:
    if(i%2!=0):
        print(i, "is Odd")

19 is Odd
25 is Odd
1 is Odd

In [10]:
li=(20,10,16,19,25,1,276,188)
for i in li:
    if(i%2==0):
        print(i, "is Even")

20 is Even
10 is Even
16 is Even
276 is Even
188 is Even